* {
	margin: 0px;
	padding: 0px
}
body {
	font-family: arial;
        font-size: 14px;
}
body[dir="rtl"] strong, body[dir="rtl"] p {
	direction: rtl;
	unicode-bidi: embed;
}
.row {
	padding: 20px 20px 0px;
}
.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.font-30{
	font-size:30px;
}
.table tbody td {
	font-size: 12px;
	color: #2F2F2F;
	padding: 4px 2px;
	text-align: center;
	border-bottom: 1px solid #ccc;

	white-space: normal;
	white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

	text-overflow: ellipsis;
	overflow: hidden;
}
.table > tbody > tr > .no-line {
	border-top: none;
}
.table > thead > tr > .no-line {
	border-bottom: none;
}
.table > tbody > tr > .thick-line {
	border-top: 2px solid;
}
.container {
	margin-top: 20px
}
.centered {
	text-align: center
}
.panel-default > .panel-heading {
	color: #fff;
	background-color: #1daeeb;
	border-color: #1d5e79;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.container {
	padding: 20px;
}
hr {
	margin: 20px 0px;
	border: 1px solid #efefef !important;
}
.panel-body {
	padding: 0px;
}
.panel-body thead {
	background: #1a2951
}
.panel-body thead td {
	color: #fff;
	font-size: 12px;
	padding: 4px 2px;
	text-align: center
}
.col-xs-5 {
	width: 350px;
	font-size: 14px
}
.pull-right {
	float: right
}
.pull-left {
	float: left
}
.clearfix {
	clear: both
}
.mainBlk {
	border: 1px #4cc2f1;
	font-size: 14px !important;
	color: #4cc2f1 !important;
	background: #ebf9ff;
	border-style: dashed dashed solid !important;
	border-bottom: 3px solid #4cc2f1 !important
}
.subBlk {
	border-right: 2px solid #40496a;
	background: #eef1fe;
	color: #40496a!important
}
.scs, .fld, .rfd {
	font-size: 10px !important;
	text-transform: uppercase;
	font-weight: bold
}
.scs {
	background: #eaffe9
}
.fld {
	background: #ffe9ee
}
.rfd {
	background: #fff7e9
}
.footer {
	text-align: center;
	font-size: 12px;
	color: #ccc
}
.footer .pull-right strong {
	color: #333;
	font-size: 14px
}
.bg-brown {
	background: #be9366;
}
.border-1{
	border:1px solid #ccc;
}
.white{
	color: #fff !important;
}
.font-8{
	font-size: 8px;
}
.font-20{
	font-size: 20px;
}

